# Streamlit 배포용

# 추천 streamlit>=1.25.0
streamlit==1.49.1

# 추천 langchain>=0.3.0
langchain==0.3.27

# 추천 langchain-openai>=0.3.0
# 추천 langchain-google-genai>=2.1.0
langchain-google-genai==2.1.8
langchain-openai==0.3.32

# 추천 openai>=1.100.0
openai==1.102.0
google-genai>=1.27.0
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-auth==2.40.3
google-genai==1.27.0
googleapis-common-protos==1.70.0

numpy==2.3.2

pandas==2.3.2

pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
